.button {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding: 18px 24px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray-60);
    border: var(--border);
    background-color: var(--color-dark);
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.2s ease-in;

    &--dark-10 {
        background-color: var(--color-dark-10);
    }

    @include mobile {
        padding: 14px 20px;
        font-size: 14px;
    }

    &:hover {
        color: var(--color-accent);
        background-color: var(--color-dark-10);
        border-color: var(--color-accent);
    }
}

.button-accent {
    display: inline-flex;
    justify-content: center;
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--color-accent);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-dark);
    white-space: nowrap;
    transition: all 0.2s ease-in;

    &:hover {
        color: var(--color-accent);
        background-color: var(--color-dark-10);
        border-color: var(--color-accent);
    }

    @include laptop {
        padding: 10px 14px;
        font-size: 14px;
    }
}