.header {
    position: sticky;
    top: 0;
    z-index: 100;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 100px 200px;

    @keyframes scrolling-header {
        to {
            box-shadow: 0 0 16px 0 var(--color-dark-40);
        }
    }
}

.header__promo {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid var(--color-dark-15);
    background-color: var(--color-dark);

    @include mobile {
        padding: 14px 0;
    }
}

.header__promo-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--color-grey-60);

    @include mobile {
        font-size: 14px;
    }
}

.header__body {
    padding: 24px 0;
    background-color: var(--color-dark-10);

    @include mobile {
        padding: 20px 0;
    }
}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;

    @include laptop {
        gap: 200px;
    }

    @include tablet {
        gap: 40px;
    }
}

.header__logo {
    flex-shrink: 0;
}

.header__overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 442px;

    @include mobile {
        position: fixed;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        padding: 16px;
        background-color: var(--color-dark-10);
        transition-duration: 0.2s;
        overflow-y: auto;

        &:not(.is-active) {
            @include hide;
        }
    }

    &--alt {
        max-width: 990px;
        width: 100%;
    }
}

.header__menu-list {
    display: flex;
    align-items: center;
    gap: 16px;

    @include laptop {
        gap: 10px;
    }

    @include mobile{
        flex-direction: column;
        row-gap: 16px;
    }
}

.header__menu-link {
    padding: 14px 24px;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-gray-50);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &--active {
        border: 1px solid var(--color-accent);
        border-radius: 10px;
        color: var(--color-light);
        font-weight: 500;
        background-color: var(--color-dark);
        pointer-events: none;
    }

    &:hover {
        // border: 1px solid var(--color-dark-20);
        // border-radius: 10px;
        // color: var(--color-light);
        color: var(--color-accent);
        // background-color: var(--color-dark);
    }

    @include laptop {
        padding: 10px 18px;
    }
}

.header__contact-us-link {
    @include mobile {
        width: 100%;
        max-width: 300px;
        align-self: center;
    }
}