.news {
    display: grid;
    row-gap: 80px;
    padding-block: 80px;

    @include laptop {
        padding-block: 60px;
        row-gap: 60px;
    }

    @include mobile {
        padding-block: 40px;
        row-gap: 40px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(358px, 1fr));
        gap: 30px;
    }

    &__title {
        font-family: var(--font-family-accent);
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        color: var(--color-gray-80);

        @include laptop {
            font-size: 22px;
        }

        @include mobile {
            font-size: 20px;
        }
    }
}