.select {
    &__original-control {
        min-width: 100px;
        @include mobile-above {
            @include visually-hidden;
        }
    }

    &__body {
        position: relative;
        @include mobile {
            @include visually-hidden;
        }
    }

    &__button,
    &__option {
        user-select: none;
        cursor: pointer;

        * {
            pointer-events: none;
        }
    }

    &__button {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        transition-duration: 0.2s;

        @include laptop {
            gap: 4px;
        }

        &.is-expanded {
            &::after {
                rotate: -180deg;
            }
        }

        &::after {
            --size: #{rem(24)};
            content: '';
            @include square(var(--size));
            background: url('./../img/icons/arrow-down_white.svg') center/contain no-repeat;
            transition-duration: 0.2s;

            @include laptop {
                --size: #{rem(20)};
            }
        }
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + #{rem(4)});
        display: grid;
        row-gap: 4px;
        min-width: 150px;
        max-width: 300px;
        max-height: 250px;
        overflow-y: auto;
        padding: 4px;
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: 6px;
        transition-duration: 0.2s;

        &.is-on-the-left-side {
            left: 0;
            transform-origin: 0 0;
        }

        &.is-on-the-right-side {
            right: 0;
            transform-origin: 100% 0;
        }

        &:not(.is-expanded) {
            @include hide;
            scale: 0;
        }
    }

    &__option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: var(--color-light);
        border: var(--border);
        border-radius: 6px;
        transition: color 0.2s ease-in;
        cursor: pointer;

        &:hover {
            color: var(--color-accent);
            background-color: var(--color-dark);
        }

        &.is-selected {
            color: var(--color-accent);
            background-color: var(--color-dark);

            &::after {
                content: '✔';
            }
        }

        &.is-current {
            border-color: var(--color-accent);
        }
    }
}