$laptop: 1440.98px;
$tablet: 1023.98px;
$mobile: 767.98px;
$mobile-s: 480.98px;

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}
@mixin laptop-above {
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin tablet-above {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
@mixin mobile-above {
    @media (min-width: $mobile) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: $mobile-s) {
        @content;
    }
}
@mixin mobile-s-above {
    @media (min-width: $mobile-s) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}
